body{
    width: 100vw;
    z-index: -1;
    background-image: url("http://www.prosportsbackgrounds.com/assets/boston_celtics_2017_hardwood_wallpaper_pc_2.png");
    background-position: center;
}
.navbar {
    background: linear-gradient(#007a33,#000000);
}
.class-item {
    text-align: center;
}
.header {
    color:white;
    margin-left: 33%;
    width:33%;
    background-color: #007a33;
    opacity: 0.7;
    text-align: center;
    border: 1px solid white;
        text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
.header:hover {
    background-color: grey;
}
.header a {
    color: white;
    text-decoration: none;
    font-family: proxima-nova-1, proxima-nova-2, 'Helvetica Neue', Arial, sans-serif;
    font-weight: bold;
    text-shadow: #000 1px 1px, #000 2px 2px, #000 3px 3px;
    position: relative;
    transition: all 0.3s ease-out;
}
.header a:hover {
    color: black;
    text-shadow: #007a33 1px 1px, #007a33 2px 2px, #007a33 3px 3px, #007a33 4px 4px, #007a33 5px 5px, #007a33 6px 6px;
    left: -6px;
    top: -6px;
}
.font {
    font-size: 3em;
    font-family: 'arial', sans-serif;
    color: white;
    text-align: center;
} 
h1 a {
    padding: 8px 16px;
    color: white;
    text-decoration: none;
}
p { 
    font-size: 2em;
    font-family: 'arial', sans-serif;
    color: white;
    text-align: center;
}
.list-group {
    margin-left: 16px;
    margin-top: 5px;
    text-align: center;
    opacity: 0.9;
    border: 1px solid white;
}
.numbers {
    float: left;
    color: white;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
#names {
    text-align: center;
    color: white;
    font-size: 20px;
        text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
.headshot {
    width: 100px;
    float: right;
}
.list-group-item {
    width: 463px;
    color: white;
    height: 88px;
    background-color: #007a33;
}
.list-group-item:hover {
    background-color: grey;
}
.list-group-item a {
    text-align: center;
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
    border-bottom: 1px solid white;
}
.carousel-inner img {
      width: 695px;
      height: 433px;
      margin-top: 5px;
      border: 1px solid white;
  }
.carousel-caption {
    font-size: 20px;
    color: white;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
.form {
    border: 1px solid white;
}
.formP {
    font-size: 20px;
}